In [2]:
import pandas as pd

In [46]:
# Read the initial Excel file
ancor_pa = pd.read_excel('C:/Users/Ardhi/OneDrive - SIPA, Columbia University/MPA SIPA/Work/UNDP/Anticorruption and Just Energy/Energy-Corruption-main/Clean/wgidataset.xlsx',sheet_name="VoiceandAccountability")
ancor_ps = pd.read_excel('C:/Users/Ardhi/OneDrive - SIPA, Columbia University/MPA SIPA/Work/UNDP/Anticorruption and Just Energy/Energy-Corruption-main/Clean/wgidataset.xlsx',sheet_name="Political StabilityNoViolence")
ancor_ge = pd.read_excel('C:/Users/Ardhi/OneDrive - SIPA, Columbia University/MPA SIPA/Work/UNDP/Anticorruption and Just Energy/Energy-Corruption-main/Clean/wgidataset.xlsx',sheet_name="GovernmentEffectiveness")
ancor_rq = pd.read_excel('C:/Users/Ardhi/OneDrive - SIPA, Columbia University/MPA SIPA/Work/UNDP/Anticorruption and Just Energy/Energy-Corruption-main/Clean/wgidataset.xlsx',sheet_name="RegulatoryQuality")
ancor_rl = pd.read_excel('C:/Users/Ardhi/OneDrive - SIPA, Columbia University/MPA SIPA/Work/UNDP/Anticorruption and Just Energy/Energy-Corruption-main/Clean/wgidataset.xlsx',sheet_name="RuleofLaw")
ancor_cc = pd.read_excel('C:/Users/Ardhi/OneDrive - SIPA, Columbia University/MPA SIPA/Work/UNDP/Anticorruption and Just Energy/Energy-Corruption-main/Clean/wgidataset.xlsx',sheet_name="ControlofCorruption")


ancor_cc.head()

,Country/Territory,Code,1996_Estimate,1996_StdErr,1996_NumSrc,1996_Rank,1996_Lower,1996_Upper,1998_Estimate,1998_StdErr,...,2021_NumSrc,2021_Rank,2021_Lower,2021_Upper,2022_Estimate,2022_StdErr,2022_NumSrc,2022_Rank,2022_Lower,2022_Upper
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,78.571426,62.857143,89.047623,0.756785,0.317250,2.0,77.830185,60.849056,88.679245
1,Andorra,ADO,1.318143,0.480889,1.0,87.096771,72.043015,96.774193,1.334759,0.453149,...,1.0,88.571426,70.000000,96.666664,1.270204,0.463415,1.0,88.679245,68.396225,97.169815
2,Afghanistan,AFG,-1.291705,0.340507,2.0,4.301075,0.000000,27.419355,-1.176012,0.324013,...,8.0,12.380953,4.761905,20.952381,-1.183776,0.173320,8.0,12.264151,4.716981,20.283018
3,Angola,AGO,-1.167702,0.262077,4.0,9.677420,0.537634,27.419355,-1.180451,0.227055,...,10.0,29.047619,19.523809,40.476189,-0.601941,0.160003,10.0,30.660378,21.226416,43.396225
4,Anguilla,AIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,73.333336,50.952381,89.047623,1.270204,0.463415,1.0,88.679245,68.396225,97.169815

In [48]:
# Rename columns for consistency and ease of use
ancor_pa = ancor_pa.rename(columns={
    'Country/Territory': 'Country',
    'Code': 'Country Code'
})
ancor_ps = ancor_ps.rename(columns={
    'Country/Territory': 'Country',
    'Code': 'Country Code'
})
ancor_ge = ancor_ge.rename(columns={
    'Country/Territory': 'Country',
    'Code': 'Country Code'
})
ancor_rq = ancor_rq.rename(columns={
    'Country/Territory': 'Country',
    'Code': 'Country Code'
})
ancor_rl = ancor_rl.rename(columns={
    'Country/Territory': 'Country',
    'Code': 'Country Code'
})
ancor_cc = ancor_cc.rename(columns={
    'Country/Territory': 'Country',
    'Code': 'Country Code'
})

ancor_cc.head()

,Country,Country Code,1996_Estimate,1996_StdErr,1996_NumSrc,1996_Rank,1996_Lower,1996_Upper,1998_Estimate,1998_StdErr,...,2021_NumSrc,2021_Rank,2021_Lower,2021_Upper,2022_Estimate,2022_StdErr,2022_NumSrc,2022_Rank,2022_Lower,2022_Upper
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,2.0,78.571426,62.857143,89.047623,0.756785,0.317250,2.0,77.830185,60.849056,88.679245
1,Andorra,ADO,1.318143,0.480889,1.0,87.096771,72.043015,96.774193,1.334759,0.453149,...,1.0,88.571426,70.000000,96.666664,1.270204,0.463415,1.0,88.679245,68.396225,97.169815
2,Afghanistan,AFG,-1.291705,0.340507,2.0,4.301075,0.000000,27.419355,-1.176012,0.324013,...,8.0,12.380953,4.761905,20.952381,-1.183776,0.173320,8.0,12.264151,4.716981,20.283018
3,Angola,AGO,-1.167702,0.262077,4.0,9.677420,0.537634,27.419355,-1.180451,0.227055,...,10.0,29.047619,19.523809,40.476189,-0.601941,0.160003,10.0,30.660378,21.226416,43.396225
4,Anguilla,AIA,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1.0,73.333336,50.952381,89.047623,1.270204,0.463415,1.0,88.679245,68.396225,97.169815

In [59]:
# Extract necessary columns for the range of years
id_columns = ['Country', 'Country Code']
year_columns_pa = [col for col in ancor_pa.columns if col.endswith('_Estimate')]
year_columns_ps = [col for col in ancor_ps.columns if col.endswith('_Estimate')]
year_columns_ge = [col for col in ancor_ge.columns if col.endswith('_Estimate')]
year_columns_rq = [col for col in ancor_rq.columns if col.endswith('_Estimate')]
year_columns_rl = [col for col in ancor_rl.columns if col.endswith('_Estimate')]
year_columns_cc = [col for col in ancor_cc.columns if col.endswith('_Estimate')]


ancor_pa_new = ancor_pa[id_columns + year_columns_pa]
ancor_ps_new = ancor_ps[id_columns + year_columns_ps]
ancor_ge_new = ancor_ge[id_columns + year_columns_ge]
ancor_rq_new = ancor_rq[id_columns + year_columns_rq]
ancor_rl_new = ancor_rl[id_columns + year_columns_rl]
ancor_cc_new = ancor_cc[id_columns + year_columns_cc]
ancor_pa_new.head()

,Country,Country Code,1996_Estimate,1998_Estimate,2000_Estimate,2002_Estimate,2003_Estimate,2004_Estimate,2005_Estimate,2006_Estimate,...,2013_Estimate,2014_Estimate,2015_Estimate,2016_Estimate,2017_Estimate,2018_Estimate,2019_Estimate,2020_Estimate,2021_Estimate,2022_Estimate
0,Aruba,ABW,NaN,NaN,NaN,NaN,NaN,0.737521,1.153230,1.017273,...,1.278059,1.276850,1.273961,1.279364,1.295549,1.282693,1.262558,1.282143,1.018641,1.009182
1,Andorra,ADO,1.563217,1.528759,1.535655,1.437128,1.422262,1.563077,1.528182,1.329979,...,1.406642,1.165965,1.194495,1.176597,1.161656,1.047322,1.108412,1.086253,1.033413,1.102833
2,Afghanistan,AFG,-1.908540,-2.039301,-2.031417,-1.433421,-1.177571,-1.203034,-1.125430,-1.110294,...,-1.240068,-1.135440,-1.117557,-1.037788,-0.990814,-1.007052,-1.006575,-1.077689,-1.567890,-1.751587
3,Angola,AGO,-1.578164,-1.411879,-1.458065,-1.238779,-1.272615,-1.285480,-1.234719,-1.252088,...,-1.113844,-1.145230,-1.177087,-1.140293,-1.094525,-0.903365,-0.793237,-0.816003,-0.854894,-0.797131
4,Anguilla,AIA,NaN,NaN,NaN,NaN,NaN,0.854418,0.903781,1.017273,...,1.004767,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
# Melt the DataFrame to transform the data structure
ancor_pa_new = ancor_pa_new.melt(id_vars=id_columns, var_name='Year', value_name='Value')
ancor_ps_new = ancor_ps_new.melt(id_vars=id_columns, var_name='Year', value_name='Value')
ancor_ge_new = ancor_ge_new.melt(id_vars=id_columns, var_name='Year', value_name='Value')
ancor_rq_new = ancor_rq_new.melt(id_vars=id_columns, var_name='Year', value_name='Value')
ancor_rl_new = ancor_rl_new.melt(id_vars=id_columns, var_name='Year', value_name='Value')
ancor_cc_new = ancor_cc_new.melt(id_vars=id_columns, var_name='Year', value_name='Value')

ancor_pa_new[['Year', 'Parameter']] = ancor_pa_new['Year'].str.split('_', expand=True)
ancor_ps_new[['Year', 'Parameter']] = ancor_ps_new['Year'].str.split('_', expand=True)
ancor_ge_new[['Year', 'Parameter']] = ancor_ge_new['Year'].str.split('_', expand=True)
ancor_rq_new[['Year', 'Parameter']] = ancor_rq_new['Year'].str.split('_', expand=True)
ancor_rl_new[['Year', 'Parameter']] = ancor_rl_new['Year'].str.split('_', expand=True)
ancor_cc_new[['Year', 'Parameter']] = ancor_cc_new['Year'].str.split('_', expand=True)

In [64]:
# Reorder columns
ancor_pa = ancor_pa_new[['Country', 'Country Code', 'Year', 'Value', 'Parameter']]
ancor_ps = ancor_ps_new[['Country', 'Country Code', 'Year', 'Value', 'Parameter']]
ancor_ge = ancor_ge_new[['Country', 'Country Code', 'Year', 'Value', 'Parameter']]
ancor_rl = ancor_rl_new[['Country', 'Country Code', 'Year', 'Value', 'Parameter']]
ancor_rq = ancor_rq_new[['Country', 'Country Code', 'Year', 'Value', 'Parameter']]
ancor_cc = ancor_cc_new[['Country', 'Country Code', 'Year', 'Value', 'Parameter']]

ancor_pa['Indicator Code'] = 'ancor-pa'
ancor_ps['Indicator Code'] = 'ancor-ps'
ancor_ge['Indicator Code'] = 'ancor-ge'
ancor_rl['Indicator Code'] = 'ancor-rl'
ancor_rq['Indicator Code'] = 'ancor-rq'
ancor_cc['Indicator Code'] = 'ancor-cc'

In [65]:
# Save the transformed DataFrame to a new Excel file
output_file_path1 = 'ancor_pa.xlsx'
output_file_path2 = 'ancor_ps.xlsx'
output_file_path3 = 'ancor_ge.xlsx'
output_file_path4 = 'ancor_rl.xlsx'
output_file_path5 = 'ancor_rq.xlsx'
output_file_path6 = 'ancor_cc.xlsx'
ancor_pa.to_excel(output_file_path1, index=False)
ancor_ps.to_excel(output_file_path2, index=False)
ancor_ge.to_excel(output_file_path3, index=False)
ancor_rl.to_excel(output_file_path4, index=False)
ancor_rq.to_excel(output_file_path5, index=False)
ancor_cc.to_excel(output_file_path6, index=False)